p Hello dear #{userBrand}.Don't worry!Everyone forgot something
| Your password is safe,but if you want to change it please click
a(href=frontendURL + '/pass?token=' + token) Click HERE

p If it was not you,inform us please.